.mall-name {
    position: absolute;
    top: 2px;
    text-align: center;
    font-size: 40px;
    color: #333333;
    margin: 0;
  }
    
  .search-bar {
    background-color: #f2f2f2;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .search-bar input[type='text'] {
    padding: 5px;
    margin-right: 10px;
    border: none;
    border-radius: 4px;
  }
  
  .search-bar button {
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: #ffffff;
    cursor: pointer;
  }
  
  .navbar {
    background-color: #f2f2f2;
    padding: 10px;
    text-align: center;
  }
  
  .navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .navbar ul li {
    display: inline-block;
    margin-right: 10px;
  }
  
  .navbar ul li a {
    text-decoration: none;
    color: #333333;
  }
  
  .navbar ul li a:hover {
    color: #007bff;
  }

  .login-button {
    position: absolute;
    right: 30px;
    top: 10px
  }

  .category-button-text {
    display: inline-block;
    width: 90px; 
    height: 10px;
    line-height: 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }