.name {
  position: absolute;
  top: 10px;
  width: 100px; 
  height: auto;
  margin-top: 50px;
  text-align: center;
}

.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #FFFFFF;
    background-size: cover;
    background-position: center;
    background-image: url('./img/bg10.jpg');
  }
  
  .login-container {
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.847);
    color: white;
    border-radius: 30px;
    text-align: center;
    margin-top: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 350px;
  }
  
  .login-container h2 {
    margin-bottom: 20px;
  }
  
  .login-container form {
    display: flex;
    flex-direction: column;
    width: 80%;
  }
  
  .login-container label {
    margin-bottom: 5px;
    width: 100%;
  }
  
  .login-container input {
    padding: 8px;
    margin-bottom: 10px;
    width: 100%;
  }
  
  .login-container .toggle-container {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }
  
  .login-container .login {
    padding: 8px 16px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-right: 10px;
    width: 100px;
    height: 40px;
  }

  .login-container .signup {
    padding: 8px 16px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-right: 10px;
    width: 90px;
    height: 40px;
  }
  
  .back-button {
    padding: 8px 16px;
    background-color: rgb(255, 252, 252);
    color: rgb(14, 13, 13);
    border: none;
    font-size: 24px;
    border-radius: 10px;
    cursor: pointer;
  }

  .back-button-container {
    position: absolute;
    top: 20px;
    left: 20px;
  }
  

  .login-container .toggle-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .login-container .toggle-container label {
    margin-right: 10px;
  }

  .action-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .signup-link .signup {
    padding: 8px 16px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-left: 10px; 
    width: 90px;
    height: 40px;
  }
  

  .message-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    color: black;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    z-index: 1000;
  }
  
  .success {
    border: 2px solid green;
  }
  
  .failure {
    border: 2px solid red;
  }

.button-shared {
  padding: 8px 16px; 
  color: white; 
  border: none; 
  border-radius: 20px; 
  cursor: pointer; 
  font-size: 16px;
  width: auto; 
  box-sizing: border-box; 
}
  