.orders-page {
    width: 80%;
    margin: 2rem auto;
    padding: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px; 
    background-color: #ddd;
    background-image: url('./img/bg.jpg');
  }
  
  .order-card {
    background-color: #ffffff; 
    padding: 20px; 
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #ccc;
    border-radius: 15px; 
  }
  
  .label {
    display: block;
    font-size: 0.8rem; 
    color: #888; 
    margin-bottom: 5px; 
  }
  
  .order-details {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    width: 100%;
  }
  
  
  .order-detail {
    margin-right: 20px; 
  }

  .detail-section {
    display: flex;
    flex-direction: column;
    min-height: 60px; 
    width: 20%; 
  }

  .items-section {
    width: 35%; 
  }

  .items-section div {
    margin-bottom: 5px; 
  }
  
  .back-to-home {
    background-color: #000000; 
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px;
  }
  
  button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    margin-left: 20px;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  
  
  