.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
  }
  
  .payment-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* 使用视口高度使其在屏幕上垂直居中 */
    margin: 0 auto; /* 水平居中 */
  }
  
  .form-group input {
    width: 100%; /* 让输入框宽度为100% */
    max-width: 400px; /* 最大宽度为400px，你可以根据需要调整 */
    padding: 10px; /* 增加一些内边距使得输入更舒适 */
    margin-top: 10px; /* 如果需要，可以调整上边距 */
  }
  
  /* 确保按钮也与输入框宽度一致 */
  .payment-button {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    margin-top: 20px;
    left: 80px;
  }
  
  .back-button {
    position: absolute;
    top: 20px;
    left: 20px;
    cursor: pointer;
  }