/* admin.css */
.admin-container {
    display: flex;
    font-family: 'Helvetica', sans-serif;
    background-color: #f5f5f5;
  }
  
  .admin-logo {
    display: block;
    width: 100%;
    margin-bottom: 20px;
  }
  
  .admin-nav {
    position: fixed; /* Fix the navbar position */
    width: 200px; /* Fixed width */
    top: 0; /* Align to the top */
    bottom: 0; /* Align to the bottom */
    padding: 20px;
    background-color: #fff;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    border-right: 1px solid #ddd;
    overflow-y: auto; /* Enable scrolling if content is long */
  }
  
  .admin-nav button {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    background-color: transparent;
    text-align: left;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 14px;
    margin-bottom: 10px; 
  }
  
  .admin-nav button.active,
  .admin-nav button:hover {
    background-color: #f4f4f4;
  }
  
  .admin-content {
    margin-left: 200px; 
    flex-grow: 1;
    padding: 20px;
    height: 100vh; /* Full height */
    overflow-y: auto; /* Enable scrolling for content */
    background-color: #fff;
  }
  
  .admin-header {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .search-input {
    width: 100%;
    padding: 8px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
  }
  
  .add-btn, .edit-btn, .remove-btn {
    padding: 5px;
    margin-right: 10px;
    border: none;
    border-radius: 10px; 
    width: 90px; 
    height: auto; 
    line-height: 30px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .add-btn {
    width: auto; 
    background-color: #4CAF50; 
    color: white;
  }
  
  .edit-btn {
    background-color: #2196F3; 
    color: white;
  }
  
  .remove-btn {
    background-color: #f44336; 
    color: white;
  }
  
  table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    margin-top: 20px;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #eee;
  }
  
  th {
    background-color: #f9f9f9;
  }
  
  tr:hover {
    background-color: #f4f4f4;
  }
  

  